h1 {
	color: green;
}

li {
    cursor: pointer;
}
li.selected {
    background-color: pink
}

*{
	box-sizing: border-box; 
}

body, html{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	padding: 0; 
	margin: 0; 
	font-size: 16px;
}

h1{
	color: red; 
	border-bottom: 2px solid red;
}

.wrapper{
	background: #fff; 
	max-width: 700px; 
	margin: 0 auto; 
	padding: 30px;
}

ul{
	margin: 0 0 40px 0; padding: 0; overflow: auto;
}

li, label{
	list-style-type: none;
    padding: 20px;
    width: 48%;
    margin: 1%;
    float: left;
    text-align: center;
    background-color: #efefef;
    border: 1px solid #ccc;
    min-height: 85px;
}

label{
	 -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    align-self: center; 
    align-items: center;
	justify-content: center;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
	justify-content: center;
	
}

li:nth-child(odd), label:nth-child(odd){
	margin-left:0%; 
}

label:hover{
	cursor: pointer;
	background: orange;
}

input:checked + label {
    background: pink;
}

input[type=radio]{
	display: none; 
}

button, input[type=submit],  input[type=button]{
	background: red; 
	border: 0px; 
	padding: 20px; 
	color: #fff;
	margin: 10px 0; 
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	transition:.3s; 
}

button.delete{
	margin-left: 30px;
	background: LightBlue; 
}

button:hover, input[type=submit]:hover,  input[type=button]:hover{
	background:green; 
	cursor: pointer; 
}

.question{
	overflow: auto;
	margin-bottom: 40px;
}