html
	head
		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/app.js')
		title= title
	body
		h1= message
		p Find out what wine suits your personality best
		div
			h2 Choose a dessert
			ul 
				li Chocolate cake
				li Apple pie
				li Ice cream
				li Cheesecake
			h2 Pick your ideal dinner
			ul 
				li Filet mignon and potatoes
				li Grilled fish and steamed vegetables
				li Burger and fries
				li Pasta
			h2 Choose your ideal vacation
			ul
				li Relaxing on the beach 
				li Gambling in Vegas
				li Trekking though a European city
				li Hiking in the mountains
			h2 Pick your favorite music genre
			ul
				li Classic Rock
				li R & B
				li Country
				li Classical
			h2 Choose your favorite type of cheese
			ul 
				li Cheddar 
				li Swiss
				li Bleu 
				li Parmesan
				